* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main-container {
  height: auto;
  max-width: 100%;
  /* display: flex;
  justify-content: center; */
}

.countries-cards {
  width: auto;
  height: 100%;
  display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */

  /* margin: 100px 0; */
  border-radius: 30px;
  background-color: rgb(180, 177, 177);
  padding: 10px 20px;
}

.flag {
  height: 220px;
  width: 300px;
  margin: 10px 0;
}

.country-card {
  margin: 4px 8px;
  display: flex;
  /* justify-content: space-between; */
  /* gap: 50px; */
  align-items: center;
}

.other-data {
  padding: 10px 20px;
  background-color: azure;
  font-size: 30px;
  color: rgb(71, 70, 70);
  width: 400px;
  border-radius: 0 15px 15px 0;
  line-height: 38px;
  letter-spacing: 2px;
  border: 3px solid beige;
}

span {
  font-weight: 200;
  font-size: 26px;
  color: black;
  letter-spacing: normal;
}


@media screen and (max-width: 1500px) {
  .country-card {
    display: flex;
    flex-direction: column;
  }

  .other-data {

    border-radius: 15px;

    border: 4px solid beige;
  }

  .flag {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {

  .country-card {
    display: flex;
    flex-direction: column;
  }

  .other-data {
    border-radius: 20px;
  }

  .countries-cards {
    gap: 10px;
    grid-template-columns: auto;
    padding: 5px 10px;
  }

  .flag {
    height: 120px;
    width: 200px;
    margin: 0;
  }

  .other-data {
    font-size: 20px;
    width: 300px;
    border-radius: 15px;
    line-height: 28px;
    border: 4px solid beige;
  }

  span {
    font-size: 20px;
  }
}

@media screen and (max-width: 440px) {
  .other-data {
    font-size: 20px;
    width: 280px;
  }
}